        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background: white;
            margin: 0;
        }
        .nav-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
        }
        header{
            background-color: white;
            padding: 10px 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        header::before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #036efa51; 
            opacity: 0.5;
            z-index: -1;
        }
        .icon-image {
            height: 6%;
            width: 6%;
            margin-right: 10px;
            vertical-align: middle;
        }
        .logo {
            font-size: 1.8rem;
            font-weight: bold;
            color: #2c3e50;
            text-decoration: none;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
        }
        .nav-links {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            gap: 2rem;
        }
        .nav-links a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s ease;
        }
        .atext {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .hero-container {
            position: relative;
            z-index: 2;
            align-items: center;
            padding-top: 100px;
            padding-left: 50px;
        }
        .slogan-image {
            width: 1200px;
            height: 600px;
            object-fit: contain;
        }
        .pic-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(253, 249, 242);
            width: 100%;
            height: 50%;
        }


